/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2020, 10:32:08 PM
    Author     : jonny
*/

.alarm-image{
    height: 150px;
    width: 150px;
}

.alarm-content{
    background-color: gray;
    border-radius: 25px;
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 10px !important;
}

mark.red {
    color:#ff0000;
    background: none;
}

mark.green {
    color:green;
    background: none;
}