/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2020, 10:25:10 PM
    Author     : jonny
*/
.fan-content{
    background-color: gray;
    border-radius: 25px;
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 10px !important;
}

.fan-image{
    height: 150px;
    width: 150px;
}