/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2019, 5:20:38 PM
    Author     : jonny
*/

body{
    background: #3C3C44;
    padding: 0;
    margin: 0;

}

.container{
    width: 98%;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 50%;
    height: 15px;
    -webkit-appearance: none;
    border-radius: 5px;
    background: #3C3C44;
    box-shadow: inset 0 3px 18px rgba(0, 0, 0, 0.6);
    outline: none;

}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

}

.box{
   
    height: 100px;
    width: 100px;
    border-radius: 0 50% 50% 50%;
    position: absolute;
    margin: auto;
    transform: rotate(-135deg);
    left: 0;
    right: 0;
    top:100px;
}



#value{
    color: white;
    font-size: 0px;
    transform: rotate(135deg);
    position: relative;
    top: 25px;
}

#myImage{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 180px;
    right: 0;
    top:230px;

}