/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-okt-02, 22:07:42
    Author     : Junnan
*/
body{
    
    background-size: cover;
    background-image: url("../img/bg6.jpg");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header h1{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 8px;
}

.header p{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}

.header button{
    color: #fff;
    background: #1a1818;
    padding: 18px 38px;
    border: none;
    font-size: 14px;
    margin-top: 5px;
    
    border-radius: 25px;
    
    
}
